In [63]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

da = pd.read_csv("nhanes_2015_2016.csv")

In [81]:
da

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,DMDMARTLx,RIAGENDRx,SMQ020x
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,164.9,20.3,37.4,36.0,27.2,80.4,2.0,NaN,Female,No
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,161.6,25.5,NaN,NaN,NaN,NaN,2.0,married,Female,No
50,83828,1.0,NaN,2.0,2,2,39,1,2.0,3.0,...,162.0,27.2,36.8,34.6,29.1,94.6,NaN,married,Female,No
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,...,148.3,35.2,30.5,34.0,34.4,107.6,2.0,married,Female,No
58,83845,1.0,NaN,NaN,1,2,44,4,1.0,1.0,...,171.5,45.3,37.3,35.7,48.7,NaN,2.0,NaN,Female,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,93516,NaN,NaN,NaN,2,2,43,2,1.0,4.0,...,165.3,30.3,38.8,38.8,32.2,102.2,NaN,married,Female,No
5658,93568,1.0,NaN,1.0,1,2,46,3,1.0,2.0,...,152.4,36.8,26.0,33.5,34.7,116.5,2.0,NaN,Female,Yes
5685,93612,2.0,2.0,NaN,2,2,36,5,1.0,5.0,...,162.4,24.9,37.2,36.0,29.8,89.0,2.0,married,Female,No
5689,93619,NaN,NaN,NaN,2,2,44,5,2.0,2.0,...,149.3,23.3,31.9,32.0,26.2,81.4,1.0,married,Female,No
5724,93682,NaN,NaN,NaN,2,2,41,5,1.0,5.0,...,166.9,20.9,37.1,35.3,26.9,80.8,2.0,married,Female,No

In [65]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [71]:
da=da.loc[((da["RIDAGEYR"]>35) & (da["RIDAGEYR"]<50))]
da

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,DMDMARTLx,RIAGENDRx
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0,NaN,Female
10,83747,1.0,NaN,1.0,1,1,46,3,1.0,5.0,...,86.2,176.7,27.6,41.0,38.0,33.6,104.3,2.0,NaN,Male
11,83750,1.0,NaN,3.0,1,1,45,5,1.0,2.0,...,76.2,177.8,24.1,43.9,37.8,33.0,90.1,NaN,NaN,Male
20,83769,1.0,NaN,2.0,2,1,49,5,1.0,2.0,...,72.8,170.7,25.0,42.8,40.0,31.5,96.6,2.0,married,Male
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,66.6,161.6,25.5,NaN,NaN,NaN,NaN,2.0,married,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5713,93663,1.0,NaN,4.0,2,1,43,1,2.0,1.0,...,75.7,177.1,24.1,43.0,39.7,31.3,94.6,1.0,married,Male
5714,93664,2.0,1.0,2.0,2,1,39,1,2.0,3.0,...,74.9,169.6,26.0,40.5,39.3,31.5,92.5,2.0,married,Male
5718,93671,1.0,NaN,3.0,2,1,45,4,1.0,5.0,...,89.0,174.3,29.3,42.4,40.6,39.5,97.0,2.0,married,Male
5720,93675,1.0,NaN,1.0,2,1,38,5,2.0,5.0,...,77.6,179.0,24.2,42.3,41.5,31.7,94.2,2.0,NaN,Male
5724,93682,NaN,NaN,NaN,2,2,41,5,1.0,5.0,...,58.2,166.9,20.9,37.1,35.3,26.9,80.8,2.0,married,Female

In [72]:
ds["DMDMARTL"].head(10)

4     3.0
34    1.0
50    1.0
55    1.0
58    5.0
61    1.0
62    1.0
63    1.0
76    1.0
82    1.0
Name: DMDMARTL, dtype: float64

## Question 1

Restrict the sample to women between 35 and 50, then use the marital status
variable [DMDMARTL](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm#DMDMARTL) to partition this
sample into two groups - women who are currently married, and women who are not currently married.
 Within each of these groups, calculate the proportion of women who have completed college.
 Calculate 95% confidence intervals for each of these proportions.

In [80]:
# enter your code here
da["DMDMARTLx"]=da.DMDMARTL.replace({1: "married", 2: "Not married", 5: np.nan,3:np.nan})
da["RIAGENDRx"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})
da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})

<ipython-input-80-0fabd09745d7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["DMDMARTLx"]=da.DMDMARTL.replace({1: "married", 2: "Not married", 5: np.nan,3:np.nan})
<ipython-input-80-0fabd09745d7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["RIAGENDRx"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})
<ipython-input-80-0fabd09745d7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})

In [74]:
da=da.loc[da["RIAGENDRx"]=="Female" ]

In [75]:
dx = da[["DMDMARTLx", "RIAGENDRx"]].dropna()
pd.crosstab(dx.DMDMARTLx, dx.RIAGENDRx)

RIAGENDRx    Female
DMDMARTLx
Not married      12
married         392

In [76]:
dz = dx.groupby(dx.RIAGENDRx).agg({"DMDMARTLx": [lambda x: np.mean(x=="married"), np.size]})
dz.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
dz

           Proportion  Total_n
RIAGENDRx
Female       0.970297      404

__Q1a.__ Identify which of the two confidence intervals is wider, and explain why this is the case.

__Q1b.__ Write 1-2 sentences summarizing these findings for an audience that does not know what a confidence interval is (the goal here is to report the substance of what you learned about how marital status and educational attainment are related, not to teach a person what a confidence interval is).

## Question 2

Construct 95% confidence intervals for the proportion of smokers who are female, and for the proportion of smokers who are male.  Then construct a 95% confidence interval for the difference between these proportions.

In [ ]:
# enter your code here

__Q2a.__ Discuss why it may be relevant to report the proportions of smokers who are female and male, and contrast this to reporting the proportions of males and females who smoke.

__Q2b.__ How does the width of the confidence interval for the difference of the two proportions compare to the widths of the confidence intervals for each proportion separately?

## Question 3

Construct a 95% interval for height ([BMXHT](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/BMX_I.htm#BMXHT)) in centimeters.  Then convert height from centimeters to inches by dividing by 2.54, and construct a 95% confidence interval for height in inches.  Finally, convert the endpoints (the lower and upper confidence limits) of the confidence interval from inches to back to centimeters

In [ ]:
# enter your code here

__Q3a.__ Describe how the confidence interval constructed in centimeters relates to the confidence interval constructed in inches.

## Question 4

Partition the sample based on 10-year age bands, i.e. the resulting groups will consist of people with ages from 18-28, 29-38, etc. Construct 95% confidence intervals for the difference between the mean BMI for females and for males within each age band.

In [ ]:
# enter your code here

__Q4a.__ How do the widths of these confidence intervals differ?  Provide an explanation for any substantial diferences in the confidence interval widths that you see.

## Question 5

Construct a 95% confidence interval for the first and second systolic blood pressure measures, and for the difference between the first and second systolic blood pressure measurements within a subject.

In [ ]:
# enter code here

__Q5a.__ Based on these confidence intervals, would you say that a difference of zero between the population mean values of the first and second systolic blood pressure measures is consistent with the data?


__Q5b.__ Discuss how the width of the confidence interval for the within-subject difference compares to the widths of the confidence intervals for the first and second measures.

## Question 6

Construct a 95% confidence interval for the mean difference between the average age of a smoker, and the average age of a non-smoker.

In [ ]:
# insert your code here

__Q6a.__ Use graphical and numerical techniques to compare the variation in the ages of smokers to the variation in the ages of non-smokers.

In [1]:
# insert your code here

__Q6b.__ Does it appear that uncertainty about the mean age of smokers, or uncertainty about the mean age of non-smokers contributed more to the uncertainty for the mean difference that we are focusing on here?